main{
  width: 100%;
  height: 100%;
  font-family:'BlocExtCond',Arial, "微软雅黑", sans-serif;
}

main ul li{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 0;
  opacity: 0;
  transition: all 1s;
}

main ul li:nth-child(1){
  background: #ba94de;
}

main ul li:nth-child(2){
  background: #64d6e2;
}

main ul li:nth-child(3){
  background: #F6D860;
}

main ul li:nth-child(4){
  background: #F68F6F;
}


main ul li h2{
  font-size: 2.2rem;
  position: fixed;
  top: 2.5rem;
  right: 3rem;
  font-style: italic;
}

main ul li figure figcaption{
  background: url(/img/repeat-white.png) center center/40px 40px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  animation: scratchy 0.253s linear forwards infinite;
  font-size: 3rem;
  height: 3.5rem;
}

main ul li:nth-child(1) figure{
  position: relative;
}

main ul li:nth-child(1) figure svg{
  float: left;
  width: 3rem;
  height: 3rem;
  margin-top: 3.5rem;
}


main ul li:nth-child(2) figure section svg{
  width: 33.8rem;
  position: absolute;
  top:0;
  left: -6.9rem;
}

main ul li:nth-child(1) figure svg:nth-child(1){
  margin-left: 0.6rem;
}

main ul li:nth-child(1) figure p{
  height:19rem;
  display: block;
}

#people{
  font-size:16px;
  margin-top: 2.4em;
  animation: peoplejumping 1.2s infinite;
  position: relative;
  z-index: 2;
}

@keyframes peoplejumping{
  0%{
    margin-top: 2.4em;
  }
  10%{
    margin-top: 2.4em;
  }
  100%{
    margin-top: -0.3em;
  }
}

#brick{
  font-size:16px;
  position: relative;
  z-index: 2;
  animation: brickjumping 1.2s infinite;
}

@keyframes brickjumping{
  0%{
    margin-top: 3.5em;
  }
  70%{
    margin-top: 3.5em;
  }
  100%{
    margin-top: 3em;
  }
}

#column{
  position: absolute;
  top: 2.2rem;
  right: -2.6rem;
  z-index: 1;
}

#chomper{
  font-size: 16px;
  position: absolute;
  top: 2.1em;
  right: -2.2rem;
  animation: chomperShow 2.5s 0s infinite;
}

@keyframes chomperShow{
  0%{
    top:2.1em;
  }
  40%{
    top:2.1em;
  }
  100%{
    top: -2.1em;
  }
}

#mushroom{
  font-size: 16px;
  position: absolute;
  left:6.6rem;
  z-index: 1;
  animation: mushroomShow 1.2s infinite;
}
@keyframes mushroomShow{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
    top: 4em;
  }
  100%{
    top: 0em;
    opacity: 1;
  }
}

 main ul li:nth-child(1) section{
  display: inline-block;
  width: 16.6rem;
  height: 19rem;
  position: relative;
}


main ul li:nth-child(2) figure section{
  height: 20rem;
  display: inline-block;
  margin:-1rem 0 2rem;
  position: relative;
  overflow: hidden;
}

main ul li:nth-child(2) figure section img{
  width: 20rem;
}

@keyframes dash1 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: all 1s;
    opacity: 1;
  }
}


.line-drawing path {
  fill: none;
  stroke: white;
  stroke-width: 3;
  opacity: 0;
}


#intelligence-icon{
  width: 3rem;
  height: 3rem;
  animation: rotate 1.5s infinite;
  vertical-align: top;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
    fill:rgba(255,255,255,0.3);
  }
  100%{
    transform: rotate(360deg);
    fill:rgba(255,255,255,1);
  }
}



@keyframes dash {
  0% {
    stroke-dashoffset: 1500;
    opacity: 1;
  }
  54% {
    opacity: 0.4;
  }
  84% {
    opacity: 0.8;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

#about-btn{
  width: 3.45rem;
  position: fixed;
  right: 2.5rem;
  top:50%;
  margin-top: -5.5rem;
}

#about-btn button{
  cursor: pointer;
  width: 3.45rem;
  height: 3.45rem;
  position: relative;
  border: none;
  background: url(/img/green-texture.png)  repeat center center/40px 40px;
  border-radius: 100%;
  margin-bottom: 2rem;
  transition: 0.14s;
}

#about-btn button:hover{
  transform: scale(1.02)
}

#about-btn button::after{
  content: "";
  background-color: #ba94de;
  position: absolute;
  top:0.333rem;
  left: 0.333rem;
  width: 2.8rem;
  height: 2.8rem;
  transition: 0.14s;
  border-radius: 100%;
}

#about-btn.crow button::after{
  content: "";
  background-color: #ba94de;
}

#about-btn.vaquita button::after{
  content: "";
  background-color: #64d6e2;
}

#about-btn.iguana button::after{
  content: "";
  background-color: #F6D860;
}

#about-btn.damselfly button::after{
  content: "";
  background-color: #F68F6F;
}

#about-btn button:hover::after{
  transform: scale(0.94);
}

#intelligence-phone section em{
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color:#fff;
  font-size: 0.8rem;
  font-weight: normal;
  border-radius: 0.4rem;
  opacity: 0;
  transition: all 1s;
  position: static;
  float: left;
  margin:0.5rem 0 0 0.5rem;
  font-style: normal;
}

#up em::after{
  content: "";
  width: 1rem;
  height: 0.466rem;
  border-radius: 0.1rem;
  background-image: url(/img/repeat-white.png);
  background-size:2rem 2rem;
  position: absolute;
  transform:rotate(-45deg);
  z-index: 2;
  top:1.4rem;
  left: 1.09rem;
}


#up em::before{
  content: "";
  width: 1rem;
  height: 0.466rem;
  background-image: url(/img/repeat-white.png);
  background-size:2rem 2rem;
  position: absolute;
  transform:rotate(45deg);
  border-radius: 0.1rem;
  z-index: 2;
  top:1.4rem;
  left: 1.5rem;
}

#down em::after{
  content: "";
  width: 1rem;
  height: 0.466rem;
  border-radius: 0.1rem;
  background-image: url(/img/repeat-white.png);
  background-size:2rem 2rem;
  position: absolute;
  transform:rotate(45deg);
  z-index: 2;
  top:1.5rem;
  left: 1.45em;
}

#down em::before{
  content: "";
  width: 1rem;
  height: 0.466rem;
  background-image: url(/img/repeat-white.png);
  background-size:2rem 2rem;
  position: absolute;
  transform:rotate(-45deg);
  border-radius: 0.1rem;
  z-index: 2;
  top:1.5rem;
  left: 1.5rem;
}

#border-bg::after{
  content: "";
  background-image: url(/img/corner.svg);
  position: fixed;
  top: 12px;
  left: 11px;
  width: 50px;
  height: 50px;
}

#border-bg::before{
  content: "";
  background-image: url(/img/corner.svg);
  position: fixed;
  transform: rotate(90deg);
  top: 12px;
  right: 9px;
  width: 50px;
  height: 50px;
}

#border-bg em:nth-child(1){
  width: 100%;
  height: 20px;
  background: url(/img/border.svg);
  position: absolute;
  top:0;
  z-index: 2;
}

#border-bg em:nth-child(1)::after{
  content: "";
  background-image: url(/img/corner.svg);
  position: fixed;
  bottom: 12px;
  left: 9px;
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
}

#border-bg em:nth-child(1)::before{
  content: "";
  background-image: url(/img/border.svg);
  transform: rotate(-180deg);
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
  left:0;
}


#border-bg em:nth-child(2){
  width: 20px;
  height: 100%;
  background: url(/img/border-vert.svg);
  position: absolute;
  top:0;
  z-index: 2;
}

#border-bg em:nth-child(2)::after{
  content: "";
  background-image: url(/img/corner.svg);
  position: fixed;
  bottom: 12px;
  right: 9px;
  width: 50px;
  height: 50px;
  transform: rotate(-180deg);
}

#border-bg em:nth-child(2)::before{
  content: "";
  background-image: url(/img/border-vert.svg);
  background-size:100%;
  transform: rotate(180deg);
  width: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  right:0;
}

#qingbaoz{
  position: relative;
  overflow: hidden;
  margin: -4rem 0 1rem;
}

#qingbaoz svg:nth-child(1){
  fill: #fff;
  width: 27rem;
  margin-left: 13rem;
}

#intelligence-phone{
  width: 10.88rem;
  height: 20.1rem;
  overflow: hidden;
  position: absolute;
  top:3rem;
  left: 14.9rem;
  background: rgb(34, 34, 34);
}

#intelligence-phone section{
  display: inline-block;
} 

#intelligence-phone section em:nth-child(1){
  background: rgb(210,82,41);
}
#intelligence-phone section em:nth-child(2){
  background: rgb(67,160,231);
}
#intelligence-phone section em:nth-child(3){
  background: rgb(244,173,61);
}
#intelligence-phone section em:nth-child(4){
  background: rgb(66,105,145);
  font-size: 0.7rem;
}
#intelligence-phone section em:nth-child(5){
  background: rgb(42,105,186);
  font-size: 0.7rem;
}
#intelligence-phone section em:nth-child(6){
  background: rgb(142,186,57);
  font-size: 0.7rem;
}
#intelligence-phone section em:nth-child(7){
  background: rgb(32, 77, 54);
  font-size: 0.7rem;
}
#intelligence-phone section em:nth-child(8){
  background: rgb(233,52,40);
}
#intelligence-phone section em:nth-child(9){
  background: rgb(106,121,176);
}
#intelligence-phone section em:last-child{
  border:0.05rem solid #eee;
  background: none;
}

@keyframes emList{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#intelligence-phone p{
  color:rgba(255,255,255,1);
  margin: 1rem 0 0.4rem 1.2rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  border-right:.1em solid;
	width:6em;
	white-space:nowrap;
  overflow:hidden;
  opacity: 0;
}

@keyframes typing {
	from {
    width:0;
  }
}