@charset "utf-8";
/* 知了科技首页样式 */

body {
  background: #000;
}

article {
  width: 618px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28px;
  margin: -325px 0 0 -309px;
}

article img {
  margin-bottom: 80px;
}

article svg {
  fill: #fff;
  margin-bottom: 25px;
  animation: zoomIn 2s;
  -moz-animation: zoomIn 2s;
  -webkit-animation: zoomIn 2s;
  -o-animation: zoomIn 2s;
}

section {
  width: 617px;
  height: 27px;
  position: relative;
}

section img {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: show 4.5s forwards linear;
  -webkit-animation: show 4.5s forwards linear 1;
}

header {position: absolute; top: 30px; left: 30px; color: #fff;font-size:22px;}
header img {width: 20px; height: 30px; vertical-align: middle; margin-right: 15px;}
header p {display: inline;}

article p:not(:first-child) {
  animation: zoomIn 2s;
  -moz-animation: zoomIn 2s;
  -webkit-animation: zoomIn 2s;
  -o-animation: zoomIn 2s;
}

article p:last-child {
  margin-top: 10px;
  font-size: 28px;
  background: url(../img/icon.png) no-repeat center;
}

footer {
  font-size: 16px;
  color: #999;
  position: absolute;
  bottom: 30px;
  left: 0;
  text-align: center;
  width: 100%;
}

.wukong-svg {
  stroke-dasharray: 900;
  stroke-dashoffset: 1200;
  animation: dash 2.5s forwards linear;
  -webkit-animation: dash 2.5s forwards linear 1;
}

.text--shadow {
  fill: #fff;
  fill-opacity: .4;
  -webkit-transform: translate(0, 45px);
  -ms-transform: translate(0, 45px);
  transform: translate(0, 45px);
}

.str0 {stroke:white;stroke-width:16.985}
.fil1 {fill:none}
.fil0 {fill:none;fill-rule:nonzero}
